{% for instance in parts.buildout['metabase-instances'].split('\n') %}
echo '${instance}'
SECS=0;
while ! timeout 5s curl --silent http://${parts[instance]['metabase-host']}:${parts[instance]['metabase-port']}/api/user/current > /dev/null; do
    echo -n ".";
    sleep 1s;
    SECS=$$(($$SECS+1));
    if (( $$SECS > 60 )); then
        echo 'ERROR: Could not connect to ${instance}! Please check that it is running.';
        exit 1;
    fi
done
echo "up"
{% end %}

